<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>

    <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>

<% } %>

<!-- 目录内容 -->
       <% if (!index && post.toc){ %>
           <p class="show-toc-btn" id="show-toc-btn" onclick="showToc();" style="display:none">
           <span class="btn-bg"></span>
           <span class="btn-text">文章导航</span>
           </p>
           <div id="toc-article" class="toc-article">
               <span id="toc-close" class="toc-close" title="隐藏导航" onclick="showBtn();">×</span>
               <strong class="toc-title">文章目录</strong>
               <%- toc(post.content) %>
          </div>
          <script type="text/javascript">
           function showToc(){
               var toc_article = document.getElementById("toc-article");
               var show_toc_btn = document.getElementById("show-toc-btn");
               toc_article.setAttribute("style","display:block");
               show_toc_btn.setAttribute("style","display:none");
               };
           function showBtn(){
               var toc_article = document.getElementById("toc-article");
               var show_toc_btn = document.getElementById("show-toc-btn");
               toc_article.setAttribute("style","display:none");
               show_toc_btn.setAttribute("style","display:block");
               };
          </script>
       <% } %>
       <!-- 目录内容结束 -->
